@using Flowbite.Blazor.Models
@inherits Frame
<a href="@Site.Url" class="flex items-center pl-2.5 mb-5 @Class" style="@Style">
    <img src="@Site.ImgUrl" class="h-6 mr-3 sm:h-7" alt="@Site.Name" />
    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">@Site.Name</span>
</a>

@code {
    /// <summary>
    /// The site data for img url, site url, and name
    /// </summary>
    [Parameter]
    public SiteType Site { get; set; } = new();
}