@using Flowbite.Blazor.SharedEnums
@inherits ButtonBase

<button type="@Type" disabled="@Disabled" 
        class="@(Disabled ? "cursor-not-allowed" : "") btn-base @BtnSize @TypeClass @(Outline ? _olcolorClasses[Color] : _colorClasses[Color]) @Class" 
        style="@Style" @onclick="OnClick">
    @ChildContent
</button>


@code {
    /// <summary>
    /// Defines the color for the button based on <see cref="Colors"/> enum
    /// </summary>
    [Parameter]
    public Colors Color { get; set; } = Colors.Primary;


    private readonly Dictionary<Colors, string> _colorClasses = new();
    private readonly Dictionary<Colors, string> _olcolorClasses = new();
    
    /// <summary>
    /// Initializes the button and sets the color classes based on <see cref="Color"/>
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
        // _colorClasses.Add(Colors.Dark, "bg-neutral-800 hover:enabled:bg-neutral-900 focus:ring-neutral-300 dark:bg-neutral-800 dark:hover:enabled:bg-neutral-700 dark:focus:ring-neutral-700 dark:border-neutral-700");
        // _colorClasses.Add(Colors.Light, "text-neutral-900 bg-white border border-neutral-300 hover:enabled:bg-neutral-100 focus:ring-neutral-200 dark:bg-neutral-800 dark:text-white dark:border-neutral-600 dark:hover:enabled:bg-neutral-700 dark:hover:enabled:border-neutral-600 dark:focus:ring-neutral-700");
        // _colorClasses.Add(Colors.Primary, "bg-primary-700 dark:bg-primary-600 disabled:bg-primary-400 dark:disabled:bg-primary-500 hover:enabled:bg-primary-800 focus:ring-primary-300 dark:hover:enabled:bg-primary-700 dark:focus:ring-primary-800");
        // _colorClasses.Add(Colors.Neutral, "text-neutral-900 bg-neutral-300 border border-neutral-200 hover:enabled:bg-neutral-100 hover:enabled:text-primary-700 focus:z-10 focus:ring-neutral-200 dark:focus:ring-neutral-700 dark:bg-neutral-800 dark:text-neutral-400 dark:border-neutral-600 dark:hover:enabled:text-white dark:hover:enabled:bg-neutral-700");
        // _colorClasses.Add(Colors.Supporting, "bg-supporting-700 hover:enabled:bg-supporting-800 focus:ring-supporting-300 dark:bg-supporting-600 dark:hover:enabled:bg-supporting-700 dark:focus:ring-supporting-900");
        // _colorClasses.Add(Colors.Accent, "bg-accent-700 hover:enabled:bg-accent-800 focus:ring-accent-300 dark:bg-accent-600 dark:hover:enabled:bg-accent-700 dark:focus:ring-accent-900");
        // _colorClasses.Add(Colors.Danger, "bg-danger-700 hover:enabled:bg-danger-800 focus:ring-danger-300 dark:bg-danger-600 dark:hover:enabled:bg-danger-700 dark:focus:ring-danger-900");
        // _colorClasses.Add(Colors.Warning, "bg-warning-400 hover:enabled:bg-warning-500 focus:ring-warning-300 dark:focus:ring-warning-900 dark:bg-warning-600 dark:hover:enabled:bg-warning-700 dark:focus:ring-warning-900");
        // _colorClasses.Add(Colors.Success, "bg-success-700 hover:enabled:bg-success-800 focus:ring-success-300 dark:bg-success-600 dark:hover:enabled:bg-success-700 dark:focus:ring-success-800");
        // _colorClasses.Add(Colors.None, "");
        //
        // _olcolorClasses.Add(Colors.Dark, "text-neutral-900 hover:enabled:text-white border border-neutral-800 hover:enabled:bg-neutral-900 focus:ring-neutral-300 dark:border-neutral-600 dark:text-neutral-400 dark:hover:enabled:text-white dark:hover:enabled:bg-neutral-600 dark:focus:ring-neutral-800");
        // _olcolorClasses.Add(Colors.Light, "text-neutral-900 hover:enabled:text-white border border-neutral-800 hover:enabled:bg-neutral-900 focus:ring-neutral-300 dark:border-neutral-600 dark:text-neutral-700 dark:hover:enabled:text-white dark:hover:enabled:bg-neutral-300 dark:focus:ring-neutral-800");
        // _olcolorClasses.Add(Colors.Primary, "text-primary-700 hover:enabled:text-white border border-primary-700 hover:enabled:bg-primary-800 focus:ring-primary-300 dark:border-primary-500 dark:text-primary-500 dark:hover:enabled:text-white dark:hover:enabled:bg-primary-500 dark:focus:ring-primary-800");
        // _olcolorClasses.Add(Colors.Neutral, "text-neutral-900 hover:enabled:text-white border border-neutral-800 hover:enabled:bg-neutral-900 focus:ring-neutral-300 dark:border-neutral-600 dark:text-neutral-400 dark:hover:enabled:text-white dark:hover:enabled:bg-neutral-600 dark:focus:ring-neutral-800");
        // _olcolorClasses.Add(Colors.Supporting, "text-supporting-700 hover:enabled:text-white border border-supporting-700 hover:enabled:bg-supporting-800 focus:ring-supporting-300 dark:border-supporting-400 dark:text-supporting-400 dark:hover:enabled:text-white dark:hover:enabled:bg-supporting-500 dark:focus:ring-supporting-900;");
        // _olcolorClasses.Add(Colors.Accent, "text-accent-700 hover:enabled:text-white border border-accent-700 hover:enabled:bg-accent-800 focus:ring-accent-300 dark:border-accent-400 dark:text-accent-400 dark:hover:enabled:text-white dark:hover:enabled:bg-accent-500 dark:focus:ring-accent-900");
        // _olcolorClasses.Add(Colors.Danger, "text-danger-700 hover:enabled:text-white border border-danger-700 hover:enabled:bg-danger-800 focus:ring-danger-300 dark:border-danger-500 dark:text-danger-500 dark:hover:enabled:text-white dark:hover:enabled:bg-danger-600 dark:focus:ring-danger-900");
        // _olcolorClasses.Add(Colors.Warning, "text-warning-400 hover:enabled:text-white border border-warning-400 hover:enabled:bg-warning-500 focus:ring-warning-300 dark:border-warning-300 dark:text-warning-300 dark:hover:enabled:text-white dark:hover:enabled:bg-warning-400 dark:focus:ring-warning-900");
        // _olcolorClasses.Add(Colors.Success, "text-success-700 hover:enabled:text-white border border-success-700 hover:enabled:bg-success-800 focus:ring-success-300 dark:border-success-500 dark:text-success-500 dark:hover:enabled:text-white dark:hover:enabled:bg-success-600 dark:focus:ring-success-800");
        // _olcolorClasses.Add(Colors.None, "");
        
        _colorClasses.Add(Colors.Dark, "btn-dark");
        _colorClasses.Add(Colors.Light, "btn-light");
        _colorClasses.Add(Colors.Primary, "btn-primary");
        _colorClasses.Add(Colors.Neutral, "btn-neutral");
        _colorClasses.Add(Colors.Supporting, "btn-supporting");
        _colorClasses.Add(Colors.Accent, "btn-accent");
        _colorClasses.Add(Colors.Danger, "btn-danger");
        _colorClasses.Add(Colors.Warning, "btn-warning");
        _colorClasses.Add(Colors.Success, "btn-success");
        _colorClasses.Add(Colors.None, "");
        
        _olcolorClasses.Add(Colors.Dark, "btn-ol-dark");
        _olcolorClasses.Add(Colors.Light, "btn-ol-light");
        _olcolorClasses.Add(Colors.Primary, "btn-ol-primary");
        _olcolorClasses.Add(Colors.Neutral, "btn-ol-neutral");
        _olcolorClasses.Add(Colors.Supporting, "btn-ol-supporting");
        _olcolorClasses.Add(Colors.Accent, "btn-ol-accent");
        _olcolorClasses.Add(Colors.Danger, "btn-ol-danger");
        _olcolorClasses.Add(Colors.Warning, "btn-ol-warning");
        _olcolorClasses.Add(Colors.Success, "btn-ol-success");
        _olcolorClasses.Add(Colors.None, "");
    }
    
}