@using Flowbite.Blazor.SharedEnums
@inherits ButtonBase
<!-- Wrapping in span so flex doesn't break vertical padding -->
<span>
    <button type="@Type" disabled="@Disabled"
            class="@BtnSize text-white font-medium focus:ring-4 focus:outline-none text-center inline-flex justify-center items-center @TypeClass @(Outline ? _olcolorClasses[Color] : _colorClasses[Color]) @(Disabled ? "cursor-not-allowed" : "") @Class"
            style="@Style" @onclick="OnClick">
        @ChildContent
    </button>
</span>

@code {
    /// <summary>
    /// Defines the color for the button based on <see cref="Colors"/> enum
    /// </summary>
    [Parameter]
    public Colors Color { get; set; } = Colors.Primary;


    private readonly Dictionary<Colors, string> _colorClasses = new();
    private readonly Dictionary<Colors, string> _olcolorClasses = new();
    
    /// <summary>
    /// Initializes the button and sets the color classes based on <see cref="Color"/>
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        _colorClasses.Add(Colors.Dark, "btn-dark");
        _colorClasses.Add(Colors.Light, "btn-light");
        _colorClasses.Add(Colors.Primary, "btn-primary");
        _colorClasses.Add(Colors.Neutral, "btn-neutral");
        _colorClasses.Add(Colors.Supporting, "btn-supporting");
        _colorClasses.Add(Colors.Accent, "btn-accent");
        _colorClasses.Add(Colors.Danger, "btn-danger");
        _colorClasses.Add(Colors.Warning, "btn-warning");
        _colorClasses.Add(Colors.Success, "btn-success");
        _colorClasses.Add(Colors.None, "");
        
        _olcolorClasses.Add(Colors.Dark, "btn-ol-dark");
        _olcolorClasses.Add(Colors.Light, "btn-ol-light");
        _olcolorClasses.Add(Colors.Primary, "btn-ol-primary");
        _olcolorClasses.Add(Colors.Neutral, "btn-ol-neutral");
        _olcolorClasses.Add(Colors.Supporting, "btn-ol-supporting");
        _olcolorClasses.Add(Colors.Accent, "btn-ol-accent");
        _olcolorClasses.Add(Colors.Danger, "btn-ol-danger");
        _olcolorClasses.Add(Colors.Warning, "btn-ol-warning");
        _olcolorClasses.Add(Colors.Success, "btn-ol-success");
        _olcolorClasses.Add(Colors.None, "");
    }
    
}